# Ignore the playground directory
99_playground/

# Virtual environments
.venv/
venv/

# IDE
.idea/

# Python
__pycache__/
*.pyc
.env
.python-version

# Jupyter
.ipynb_checkpoints/

# Vector databases / generated DB files
vector_dbs/
*.sqlite3
*.bin



